
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>
<form>
    姓名: <input type="text" name="name" value="" /><br />
    帳號: <input type="text" name="name" value="" /><br />
    密碼: <input type="password" name="name" value="" /><br />
    性別: <input type="radio" name="gender" value="男性" />男生
    <input type="radio" name="gender" value="女性" />女生<br />
    興趣: <input type="checkbox" name="aa[]" value="游泳" />游泳
    <input type="checkbox" name="aa[]" value="閱讀" />閱讀
    <input type="checkbox" name="aa[]" value="看電影" />看電影 <br />
    自我介紹: <textarea></textarea>

</form>

